

<aside>
    <div class="aside-container">
          <ul class="aside-col">
            <li class="aside-li">
                <a class="aside-links" href="#">Buscar amigos</a>
            </li>
            <li class="aside-li">
                <a class="aside-links" href="#">Grupos</a>
            </li>
            <li class="aside-li">
                <a class="aside-links" href="#">Marketplace</a>
            </li>
            <li class="aside-li">
                <a class="aside-links" href="#">Guardado</a>
            </li>
            <li class="aside-li">
                <a class="aside-links" href="#">Páginas</a>
            </li>
            <li class="aside-li">
                <a class="aside-links" href="#">Eventos</a>
            </li>
            <li class="aside-li">
                <a class="aside-links" href="#">Ver más</a>
            </li>
          </ul>
      </div>
</aside>
