
aside{
    background-color: #ECF3FF;
  width: var(--sidebar-width);
  height: calc(100vh - var(--toolbar-height));
}

.aside-container {
    margin-top: 20px;
}

::marker {
    color: transparent;
}

a.aside-links {
    text-decoration: none;
    color: #050505;
}

li.aside-li {
    margin-bottom: 10px;
}
img.pic-me {
    border-radius: 50%;
}
a.link-prof {
    text-decoration: none;
    margin-left: 5px;
    color: #050505;
}