<div class="home-container">
  <div class="profile-div">
    <div class="prof-pic">
     <img class="mini-pic" src="/assets/messi-pic.png" class="pic-me" alt="me" width="50" height="50">
    </div>
  <div class="name-div">
    <p class="name">Luz</p>
  </div>
  </div>
<div class="post">
  <div class="post-text">
    <p class="post-description">Pic from last summer in Bariloche!</p>
  </div>
  <div class="img-post">
    <img class="post1" src="/assets/post1.png" class="post-pic" alt="post">
  </div>
</div>
</div>